.editBoard {
    box-shadow: 0 0 10px black;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    > div {
        display: flex;
        justify-content: space-around;
    }
    button {
        margin-top: 20px;
    }
}
